body {
  font-family: 'Poppins', sans-serif;
  background-color: #dee2e6;
}

.row .card-header, .card-title{
  text-align: center;
}

.row .card {
  margin-top: 50px;
  box-shadow: -1px 15px 30px -10px black;
  padding: 10px;
}

