:root {
  font-family: 'Poppins', sans-serif;
  background-color: aquamarine;
}

.box {
  width: 400px;
  background: #99c4f3;
  margin: 80px auto;
  padding: 30px 40px;
  border-radius: 20px;
}

.kolom-input input {
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  background-color: #ffffff;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 15px;
}

.kolom-button input {
  margin-top: 40px;
  background: #9e5b9b;
  color: #f1f1f1;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.kolom-button input:hover {
  margin-top: 40px;
  background: #974194;
  color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 800;
  border-radius: 50%;

}