body {
  font-family: 'Poppins', sans-serif;
}

.carousel {
  overflow: hidden;
  width: fit-content;
  height: 300px;
}
.carousel img {
  width: 100%;
}
.navbar {
  background-color: #0E185F;
  height: 60px;
  margin-bottom: 15px;
}
.nav-item {
  color: white;
}